
@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>@String.Format("Bienvenue {0}", User.Identity.Name)</h2>
    <h3>Liste des clients</h3>
    <div id="clientsDiv">
       <div class="client_div">
           <h3>un titre</h3>
           <p>un texte</p>
           <ul>
               <li>un scope</li>
               <li>un autre scope</li>
           </ul>
           
       </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            reloadClients();
        });
    </script>
}
else
{
    <h2>Bienvenue</h2>
    <p>Veuillez vous authentifier ou créer un compte</p>
}

<script type="text/javascript">
    var tt;
    function reloadClients() {
        $.ajax({
            type: 'GET',
            url: '/Home/GetClients',
            error: function (jqXHR, exception) {
                bootbox.alert(exception);
            }
        }).done(function (data) {
            tt = data;
            console.log(data);
            $('#clientsDiv').html('');
            $.each(data, function (i, item) {
                console.log(item);
                var html = '';
                if (item.isAuthorize === true) {
                    html += '<div class="client_div client_div_valid">';
                }
                else {
                    html += '<div class="client_div client_div_invalid">';
                }
                html += '<h3>';
                html += item.clientName;
                html += '</h3>';
                html += '<p>';
                html += item.clientDescription;
                html += '</p>';
                if (item.scopesNiceWordings.length > 0) {
                    html += '<h4>Authorisations</h4>';
                    html += '<ul>';
                    $.each(item.scopesNiceWordings, function (j, scope) {
                        html += '<li>';
                        html += scope;
                        html += '</li>';
                    });
                }
                html += '</ul>';
                html += '</div></br />';
                $('#clientsDiv').append(html);
            });
           
            
        });
    }
</script>

